@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-hue: 236;
  --counter-hue: 120;
  --dark: hsl(var(--main-hue), 0%, 10%);
  --light: hsl(var(--main-hue), 0%, 34%);

  --dark-vivid: hsl(var(--main-hue), 88%, 20%);
  --light-vivid: hsl(var(--main-hue), 80%, 67%);

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end: hsl(0, 0%, 85%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: var(--dark);
  background: linear-gradient(to top,
      transparent,
      var(--background-end)) hsl(var(--counter-hue), 15%, 73%);
}

html {
  min-height: 100%;
}

.page_container {
  max-width: 800px;
  margin: 0 auto;
}

.txt-vol {
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 1),
    -1px -1px 1px rgba(0, 0, 0, 0.25);
}


@layer components {

  button {
    @apply txt-vol rounded-xl;
  }

  button {
    border: 1px solid var(--dark);
    background-color: hsl(var(--main-hue), 45%, 87%);
    background-image: linear-gradient(to top,
        transparent, white);
    color: var(--dark);
    padding: .3rem 1rem;
    border-radius: 8px;
    box-shadow: 2px 2px 4px hsla(var(--main-hue), 12%, 18%, 0.8),
      inset -1px -1px 3px hsl(var(--main-hue), 10%, 52%);
  }
}



.icon {
  display: inline-block;
  width: 35px;
  height: 35px;
  vertical-align: middle;
  background-size: contain;
  margin-right: 5px;
}

.icon.reverso {
  background-image: url("/reverso.png");
}

.icon.thumbs_up {
  background-image: url("/thumbs.png");
  background-size: 35px auto;
}

.icon.thumbs_down {
  background-image: url("/thumbs.png");
  background-size: 35px auto;
  background-position: 18px 0;
}

.icon.small {
  width: 18px;
  height: 18px;
}

a {
  /*color: rgb(28, 17, 131);*/
  color: var(--dark-vivid);

  text-decoration: underline;
}



@layer base {

  h1,
  h2,
  h3,
  h4 {
    text-align: center;
    font-weight: bold;
    color: var(--dark-vivid);
    @apply mb-5;
  }

  h1 {
    @apply text-5xl;
    @apply mb-10;
  }

  h2 {
    @apply text-3xl;
    color: var(--light-vivid);
  }

  h3 {
    @apply text-xl;
    color: var(--light);
  }
}

p, li {
  @apply mb-1.5;
}